* {
  font-family: "Roboto Mono", monospace;
}

h1 {
  text-align: center;
}

body {
  background-color: #eeeeee;
}

table {
  border: 3px solid #000000;
  width: 45%;
  text-align: center;
}

thead {
  border: 1px solid #000000;
  background: #cfcfcf;
}

thead th {
  font-size: 20px;
}

tbody td {
  padding: 5px;
  border: 1px black;
}

.container {
  float: left;
  width: 804px;
}

.prequels, .originals{
    float: left;
    width: 400px;
}